<h1>Club Signup</h1>

<%= form_for(club, url: '/clubs') do |f| %>
  <% if club.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(club.errors.count, "error") %> prohibited this club from being saved:</h2>

      <ul>
      <% club.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :club_name %>
    <%= f.text_field :club_name %>
  </div>

  <div class="field">
    <%= f.label :contact_person %>
    <%= f.text_field :contact_person %>
  </div>

  <div class="field">
    <%= f.label :club_phone_number %>
    <%= f.text_field :club_phone_number %>
  </div>

  <div class="field">
    <%= f.label :club_email %>
    <%= f.text_field :club_email %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password_digest %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
