<%= link_to 'My Reservation', "users/#{current_user.id}/payments/confirmation" if Reservation.find_by(user_id: current_user.id)%>

<!-- <nav class="side left">
  <div class="navigation">
    <div class="cell">
      <span class="prevSlide"><svg class="sideArrow"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-left"></use></svg></span>
    </div>
  </div>
</nav>

<nav class="side">
  <div class="navigation">
    <div class="cell">
      <span class="nextSlide"><svg class="sideArrow"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-right"></use></svg></span>
    </div>
  </div>
</nav> -->

<!-- Panel top  -->

<nav class="panel top forceMobileView">
  <div class="sections desktop">
    <div class="left"><a href="<%= new_user_path %>" class="yolo"><svg style="width:10px;height:31px"><%= image_tag 'logo.png', width: 130, alt: 'Logo' %></svg></a></div>
    <div class="right">
      <ul class="menu">
        <!-- <li><a href="#" class="toSlide-1">Nightclubs</a></li> -->
        <li><a href="<%= sessions_destroy_path %>" class="yolo">Logout</a></li>
      </ul>
      <!-- <a class="button menuButton" href="#">Contact Us</a> -->
    </div>
  </div>
  <div class="sections compact hidden">
    <div class="left"><a href="<%= new_user_path %>"><svg style="width:10px;height:31px"><%= image_tag 'logo.png', width: 130, alt: 'Logo' %></svg></a></div>
    <div class="right">
      <span class="button actionButton sidebarTrigger" data-sidebar-id="1"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu"></use></svg></span>
    </div>
  </div>
</nav>

<section class="slide fade kenBurns">
  <div class="content">
    <div class="container">
      <div class="wrap">
        <div class="fix-10-12 toCenter">
          <h1 class="small ae-1">Choose your NightClub</h1><br>
        </div>
        <div class="fix-12-12">
          <ul class="grid grid-47 later equal">
            <% @clubs.each do |club| %>
            <li class="col-4-12 equalElement">
              <div class="fix-4-12 ae-3">
                <h3 class="uppercase"><%=link_to "#{club.club_name}", club_path(club)%></h3>
              </div>
            </li>
            <% end %>
            <!-- <div class="background" style="background-image:url(<%= image_url('img-clubs.jpg') %>)"></div> -->
          </section>



          <!-- Preloader -->
          <div class="loadingIcon">
            <svg class="loading-icon" id="loading-circle" viewBox="0 0 18 18">
              <circle class="circle" opacity=".1" stroke="#fff" stroke-width="2" stroke-miterlimit="10" cx="9" cy="9" r="8" fill="none"></circle>
              <circle class="dash" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" stroke-dasharray="1,100" cx="9" cy="9" r="8" fill="none"></circle>
            </svg>
          </div>
