<h1>Club Login</h1>

<%= form_tag '/login_club' do %>

  Email: <%= text_field_tag :email %><br>
  Password: <%= password_field_tag :password %>
  <%= submit_tag "Submit" %>

<% end %>

<br>

<%= render 'form', club: @club %>
<br>
<br>
<h2><%= link_to 'I am a User', new_user_path %></h2>
