<!-- <nav class="side left">
  <div class="navigation">
    <div class="cell">
      <span class="prevSlide"><svg class="sideArrow"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-left"></use></svg></span>
    </div>
  </div>
</nav>

<nav class="side">
  <div class="navigation">
    <div class="cell">
      <span class="nextSlide"><svg class="sideArrow"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-right"></use></svg></span>
    </div>
  </div>
</nav> -->

<!-- Panel top  -->

<nav class="panel top forceMobileView">
  <div class="sections desktop">
    <div class="left"><a href="<%= new_user_path %>" class="yolo"><svg style="width:10px;height:31px"><%= image_tag 'logo.png', width: 130, alt: 'Logo' %></svg></a></div>
    <div class="right">
      <ul class="menu">
        <!-- <li><a href="#" class="toSlide-1">Nightclubs</a></li> -->
        <li><a href="<%= sessions_destroy_path %>" class="yolo">Logout</a></li>
      </ul>
      <!-- <a class="button menuButton" href="#">Contact Us</a> -->
    </div>
  </div>
  <!-- <div class="sections compact hidden">
    <div class="left"><a href="<%= new_user_path %>"><svg style="width:10px;height:31px"><%= image_tag 'logo.png', width: 130, alt: 'Logo' %></svg></a></div>
    <div class="right">
      <span class="button actionButton sidebarTrigger" data-sidebar-id="1"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu"></use></svg></span>
    </div>
  </div> -->
</nav>
<!-- Slide #73 -->
<section class="slide fade kenBurns">
  <div class="content">
    <div class="container">
      <div class="wrap">

        <div class="fix-12-12">
          <ul class="grid">
            <li class="col-6-12 left box-73">
              <strong>Club name:</strong>
              <%= @club.club_name %>
             </p>

             <p>
              <strong>Contact person:</strong>
              <%= @club.contact_person %>
             </p>

             <p>
              <strong>Club phone number:</strong>
              <%= @club.club_phone_number %>
             </p>

             <p>
              <strong>Club email:</strong>
              <%= @club.club_email %>
             </p>

             <%= link_to "All Clubs", clubs_path if @current_user %>
             <%= link_to 'Edit Club', edit_club_path(@club) if @current_club%>

              <h1 class="small ae-2">Choose your Table</h1>
              <!-- <div class="ae-3"><p>With EasyNight booking your table at your favorite NightClub has never been this easy.</p></div> -->
              <!-- <div class="ae-4"><p> Simply click on the desired section based on your budget and location inside of the Club.</p></div> -->
            </li>
            <li class="col-6-12 left ae-1 fromAbove" data-action="zoom"></li>
          </ul>










          <ul class="grid fixedSpaces equal center grid-73">
            <%  if not @club.tables.nil? %>
              <% @club.tables.each do |table| %>
              <li class="col-4-12 ae-5">
                <% if current_user %>
                      <%= link_to "Reserve Table #{table.table_name} $#{table.minimum}", table_reservations_path(table), method: :post %>
                      <% else %>
                      <%= link_to "Table #{table.table_name} $#{table.minimum}", table_path(table) %>
                    <% end %>
                    <%= link_to "Delete Table", club_table_path(@club, table), method: :delete if @current_club %>
                    <%= link_to "Edit Minimum", edit_club_table_path(@club, table) if @current_club %>
                  <%end%>
              </li>
            <% end %>
            <%= link_to 'Add Table', new_club_table_path(@club) if @current_club %></div>

<!-- WTFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFF -->


 <!-- <%  if not @club.tables.nil? %>
   <% @club.tables.each do |table| %> -->
       <!-- <li><% if current_user %>
             <%= link_to "Reserve Table #{table.table_name} $#{table.minimum}", table_reservations_path(table), method: :post %>
           <% else %>
             <%= link_to "Table #{table.table_name} $#{table.minimum}", table_path(table) %>
           <% end %>
           <%= link_to "Delete Table", club_table_path(@club, table), method: :delete if @current_club %>
           <%= link_to "Edit Minimum", edit_club_table_path(@club, table) if @current_club %> -->
       <!-- </l1>
   <% end %>
 <% end %>
</ul> -->









            <!-- <% if @club.tables[1] %>
            <li class="col-4-12 ae-6">
              <%= link_to table_reservations_path(@club.tables[1]), method: :post, class: "cell-73 equalElement" do %>
                <h3 class="uppercase">Section 2</h3>
                <p class="small">$<%= @club.tables[1].minimum %></p>
              <%end%>
            </li>
            <% end %>
            <% if @club.tables[2] %>
            <li class="col-4-12 ae-6">
              <%= link_to table_reservations_path(@club.tables[2]), method: :post, class: "cell-73 equalElement" do %>
                <h3 class="uppercase">Section 3</h3>
                <p class="small">$<%= @club.tables[2].minimum %></p>
              <%end%>
            </li>
            <% end %>
            <% if @club.tables[3] %>
            <li class="col-4-12 ae-6">
              <%= link_to table_reservations_path(@club.tables[3]), method: :post, class: "cell-73 equalElement" do %>
                <h3 class="uppercase">Section 4</h3>
                <p class="small">$<%= @club.tables[3].minimum %></p>
              <%end%>
            </li>
            <% end %>
            <% if @club.tables[4] %>
            <li class="col-4-12 ae-6">
              <%= link_to table_reservations_path(@club.tables[4]), method: :post, class: "cell-73 equalElement" do %>
                <h3 class="uppercase">Section 5</h3>
                <p class="small">$<%= @club.tables[4].minimum %></p>
              <%end%>
            </li>
            <% end %>
            <% if @club.tables[5] %>
            <li class="col-4-12 ae-6">
              <%= link_to table_reservations_path(@club.tables[5]), method: :post, class: "cell-73 equalElement" do %>
                <h3 class="uppercase">Section 6</h3>
                <p class="small">$<%= @club.tables[5].minimum %></p>
              <%end%>
            </li>
            <% end %> -->
          </ul>
          <h2>Bottle Menu</h2>
          <br>
          <ul>
            <%  if not @club.bottles.nil? %>
              <% @club.bottles.each do |bottle| %>
                  <li><% if current_user %>
                        <%= "Bottle #{bottle.name} $#{bottle.price}" %>
                      <% else %>
                        <%= "Bottle #{bottle.name} $#{bottle.price}" %>
                      <%= link_to 'Delete Bottle', club_bottle_path(@club, bottle), method: :delete if @current_club %>
                      <%= link_to 'Edit Bottle', edit_club_bottle_path(@club, bottle) if @current_club%> <br>
                      <% end %>
                  </l1>
              <% end %>
            <% end %>
          </ul>
          <%= link_to 'Add Bottle', new_club_bottle_path(@club) if @current_club %>
        </div>
      </div>
    </div>
  </div>
  <div class="background" style="background-image:url(<%= image_url('img-clubs.jpg') %>)"></div>
</section>

<!-- Preloader -->
<div class="loadingIcon">
  <svg class="loading-icon" id="loading-circle" viewBox="0 0 18 18">
    <circle class="circle" opacity=".1" stroke="#fff" stroke-width="2" stroke-miterlimit="10" cx="9" cy="9" r="8" fill="none"></circle>
    <circle class="dash" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" stroke-dasharray="1,100" cx="9" cy="9" r="8" fill="none"></circle>
  </svg>
</div>
