<p id="notice"><%= notice %></p>
<p>
  <strong>Club name:</strong>
  <%= @club.club_name %>
</p>

<p>
  <strong>Contact person:</strong>
  <%= @club.contact_person %>
</p>

<p>
  <strong>Club phone number:</strong>
  <%= @club.club_phone_number %>
</p>

<p>
  <strong>Club email:</strong>
  <%= @club.club_email %>
</p>

<ul>
<%  if not @club.tables.nil? %>
  <% @club.tables.each do |table| %>
      <li><% if current_user %>
            <%= link_to "Reserve Table #{table.table_name} $#{table.minimum}", table_reservations_path(table), method: :post %>
          <% else %>
            <%= link_to "Reserve Table #{table.table_name} $#{table.minimum}", table_path(table) %>
          <% end %>

            <%= link_to "Delete Table", club_table_path(@club, table), method: :delete %>
            <%= link_to "Edit Minimum", edit_club_table_path(@club, table) %></l1>
  <% end %>
</ul>

<%= link_to 'Add Table', new_club_table_path(@club) %><br>
<%= link_to 'Edit Club', edit_club_path(@club) %>

<h2>Menu</h2>
<br>

<ul>
<% @club.bottles.each do |bottle| %>
    <li>Name: <%= bottle.name %> Price: <%= bottle.price %></li>
<% end %>
</ul>

<%= link_to 'Add Bottle', new_club_bottle_path(@club) %>
