<p id="notice"><%= notice %></p>
<p>
  <strong>Club name:</strong>
  <%= @club.club_name %>
</p>

<p>
  <strong>Contact person:</strong>
  <%= @club.contact_person %>
</p>

<p>
  <strong>Club phone number:</strong>
  <%= @club.club_phone_number %>
</p>

<p>
  <strong>Club email:</strong>
  <%= @club.club_email %>
</p>

<ul>
<% @club.tables.each do |table| %>
    <li><%= link_to "Reserve Table #{table.table_name}", table_reservations_path(table), method: :post %>
<% end %>
</ul>

<%= link_to 'Add Table', new_club_table_path(@club) %>
<%= link_to 'Edit', edit_club_path %>
