<h1>User Login</h1>

<%= form_tag '/login' do %>

  Email: <%= text_field_tag :email %><br>
  Password: <%= password_field_tag :password %>
  <%= submit_tag "Submit" %>

<% end %>

<br>

<%= render 'form', user: @user %>

<!-- need to change to root -->
<%= link_to 'Back', new_user_path %>
<br>
<br>
<h2><%= link_to 'Club', new_club_path %> </h2>
