<nav class="side left">
  <div class="navigation">
    <div class="cell">
      <span class="prevSlide"><svg class="sideArrow"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-left"></use></svg></span>
    </div>
  </div>
</nav>

<nav class="side">
  <div class="navigation">
    <div class="cell">
      <span class="nextSlide"><svg class="sideArrow"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-right"></use></svg></span>
    </div>
  </div>
</nav>

<!-- Example shake -->
<!-- copy scripts -->
<script>
	//jump on mouse scroll
	$('html,body').on('mousewheel',function(event){
		var $lastSlide = $('.slide').last();
		if (event.deltaY < 0 && $('body').hasClass('lastSlide') && $lastSlide.hasClass('animate')){
			jumpy();
		}
	});

	//jump on arrow key press
	$('html,body').on('keydown',function(event){
		var $lastSlide = $('.slide').last();
		if (event.keyCode === 40 && $('body').hasClass('lastSlide') && $lastSlide.hasClass('animate')){
			jumpy();
		}
	});

	//jump on navigation arrow click
	$('.nextSlide').on('mouseup touchstart', function(){
		var $lastSlide = $('.slide').last();
		if ($('body').hasClass('lastSlide') && $lastSlide.hasClass('animate')) {
			jumpy();
		}
	});

	function jumpy() {
		window.inAction = 1;
		var $lastSlide = $('.slide').last();
		$lastSlide.addClass('jumpy').on('animationend webkitAnimationEnd oAnimationEnd', function () {
			$lastSlide.removeClass('jumpy');
			window.inAction = 0;
		});
	}
</script>

<!-- copy styles -->
<style>
	.jumpy {
		-webkit-animation: 0.8s jumpy cubic-bezier(.11,.71,.52,.99);
		animation: 0.8s jumpy cubic-bezier(.11,.71,.52,.99);
	}
	@keyframes jumpy { 50% { -webkit-transform: translateY(-50px); transform: translateY(-50px); }}
	@-webkit-keyframes jumpy { 50% { -webkit-transform: translateY(-50px); transform: translateY(-50px); }}
</style>

<!-- Panel top  -->

<nav class="panel top forceMobileView">
  <div class="sections desktop">
    <div class="left"><a href="<%= new_user_path %>" class="toSlide-1"><svg style="width:10px;height:31px"><%= image_tag 'logo.png', width: 130, alt: 'Logo' %></svg></a></div>
    <div class="right">
      <ul class="menu">
        <li><a href="#" class="toSlide-2">Sign In</a></li>
        <li><a href="#" class="toSlide-3">Create Account</a></li>
        <li><a href="#" class="toSlide-4">Nightclubs</a></li>
        <li><a href="#" class="toSlide-5">Brands</a></li>
        <li><a href="#" class="toSlide-6">Contact Us</a></li>
      </ul>
      <!-- <a class="button menuButton" href="#">Contact Us</a> -->
    </div>
  </div>
  <div class="sections compact hidden">
    <div class="left"><a href="<%= new_user_path %>" class="toSlide-1"><svg style="width:10px;height:31px"><%= image_tag 'logo.png', width: 130, alt: 'Logo' %></svg></a></div>
    <div class="right">
      <span class="button actionButton sidebarTrigger" data-sidebar-id="1"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu"></use></svg></span>
    </div>
  </div>
</nav>

<!-- Slide #1 -->
<section class="slide fade kenBurns">
  <div class="content">
    <div class="container">
      <div class="wrap">

        <div class="fix-10-12">
          <h1 class="ae-1">Looking to Party?</h1>
          <div class="ae-2">
            <p class="hero">Do it the right way. Do it the <span id="extra">EasyNight</span> way.</p>
          </div>
          <a class="button round uppercase pink ae-3 nextSlide">Book your table</a>
          <div class="button play white small popupTrigger toCenter ae-6 fromCenter block play-21" data-popup-id="21-0">
            <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#play"></use></svg>
          </div>
          <h2 class="ae-2">Press play to feel the Love</h2>
        </div>

      </div>
    </div>
  </div>
  <div class="background" style="background-image:url(<%= image_url('img-11.jpg') %>)"></div>
</section>

<!-- Popup Video -->
<div class="popup autoplay" data-popup-id="21-0">
  <div class="close"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close"></use></svg></div>
  <div class="content">
    <div class="container">
      <div class="wrap">
        <div class="fix-10-12">
          <div class="embedVideo popupContent">
              <video width="320" height="240" controls>
                <source src="<%= video_url('popupvideo1.mkv') %>">
              </video>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Slide #2 -->
<section class="slide fade kenBurns" id="slide-2">
  <div class="content">
    <div class="container">
      <div class="wrap">
        <h1 class="small ae-1">Sign In</h1>
        <div class="fix-5-12 box-42">
          <div class="pad shadow selected ae-2">
            <div class="wide center"><%= form_tag '/login' do %>
              <label class="uppercase ae-3" for="email37">Email: </label>
              <div><%= text_field_tag :email, "", class: "stroke round wide ae-4", id: "email43", placeholder: "Email" %></div>
              <label class="uppercase ae-5" for="password37">Password: </label>
              <div><%= password_field_tag :password, "", class: "stroke round wide ae-6", id: "password43", placeholder: "Password" %></div>
              <div><%= submit_tag "Log In", class: "button wide pink round uppercase ae-9" %></div>
              <% end %>
            </div>
          </div>
              <small class="block ae-10 block-43">
                <span class="text-43">
                  Don&rsquo;t have an account?<a href="#" class="block bold toSlide-3">Create One</a>
                </span>
              </small>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="background" style="background-image:url(<%= image_url('RedCarpet.jpg') %>)"></div>
</section>

<!-- Slide #2.1 -->

<section class="slide fade kenBurns" id="slide-2">
  <div class="content">
    <div class="container">
      <div class="wrap">
        <h1 class="small ae-1">Create Account</h1>
        <div class="fix-5-12 box-42">
          <div class="pad shadow selected ae-3 signupBox">
            <%= form_for(@user) do |f| %>
              <% if @user.errors.any? %>
                <div id="error_explanation">
                  <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

                  <ul>
                  <% @user.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                  </ul>
                </div>
              <% end %>
              <div class="macarena">
                <div>
                  <div class="field signup">
                    <%= f.label :first_name, nil, class: "uppercase ae-3", for: "email37" %>
                    <%= f.text_field :first_name, class: "stroke round wide ae-4", id: "email43", placeholder: 'First Name' %>
                  </div>

                  <div class="field signup">
                    <%= f.label :last_name, nil, class: "uppercase ae-3", for: "email37" %>
                    <%= f.text_field :last_name, class: "stroke round wide ae-4", id: "email43", placeholder: 'Last Name' %>
                  </div>

                  <div class="field signup">
                    <%= f.label :phone_number, nil, class: "uppercase ae-3", for: "email37" %>
                    <%= f.text_field :phone_number, class: "stroke round wide ae-4", id: "email43", placeholder: "555-555-5555" %>
                  </div>
                </div>
                <div>
                  <div class="field">
                    <%= f.label :email, nil, class: "uppercase ae-3", for: "email37" %>
                    <%= f.text_field :email, class: "stroke round wide ae-4", id: "email43", placeholder: "Email" %>
                  </div>

                  <div class="field">
                    <%= f.label :password, nil, class: "uppercase ae-5", for: "password37" %>
                    <%= f.password_field :password, class: "stroke round wide ae-6", id: "password43", placeholder: "Password" %>
                  </div>

                  <div class="field">
                    <%= f.label :password, nil, class: "uppercase ae-5", for: "password37" %>
                    <%= f.password_field :password_confirmation, class: "stroke round wide ae-6", id: "password43", placeholder: "Confirm Password" %>
                  </div>
                </div>
              </div>
              <div class="actions">
                <%= f.submit "Create Account", class: "button wide pink round uppercase ae-9" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="background" style="background-image:url(<%#= image_url('img-2.jpg') %>)"></div> -->
<!-- </section> -->

          <!-- RAFA, THIS HAS NO CSS ON IT -->
          <%#= render 'form', user: @user %>

          <!-- <h2><%= link_to 'Club', new_club_path %> </h2> -->
          <!-- RAFA, THIS HAS NO CSS ON IT -->

          <!-- <small class="block ae-10 block-43">
            <span class="text-43">
              Don&rsquo;t have an account?<a href="#" class="block bold">Create One</a>
            </span>
          </small> -->
        </div>
      </div>
    </div>
  </div>
  <div class="background" style="background-image:url(<%= image_url('img-333.jpg') %>)"></div>
</section>

<!-- Slide #3 -->
<section class="slide fade kenBurns">
  <div class="content">
    <div class="container">
      <div class="wrap">

        <div class="fix-10-12 toCenter">
          <h1 class="small ae-1">All the NightClubs you Crave</h1>
        </div>
        <div class="fix-12-12">
          <ul class="grid grid-47 later equal">
            <li class="col-4-12 equalElement">
							<div class="fix-4-12 ae-3">
							  <svg width="72" height="72" viewBox="0 0 72 68" xmlns="http://www.w3.org/2000/svg" class="icon-47"><g stroke-width="3" stroke-linejoin="round" fill="none"><path d="M70.5 30.276c0 15.543-15.444 28.149-34.5 28.149-4.254 0-8.325-.63-12.087-1.779l-19.827 9.228 7.764-15.498c-6.39-5.106-10.35-12.228-10.35-20.1 0-15.546 15.444-28.149 34.5-28.149 19.056 0 34.5 12.603 34.5 28.149z"/><path d="M22.5 30.628c0 2.481-2.016 4.5-4.5 4.5s-4.5-2.019-4.5-4.5c0-2.487 2.016-4.5 4.5-4.5s4.5 2.013 4.5 4.5z"/><path d="M40.5 30.628c0 2.481-2.016 4.5-4.5 4.5s-4.5-2.019-4.5-4.5c0-2.487 2.016-4.5 4.5-4.5s4.5 2.013 4.5 4.5z"/><path d="M58.5 30.628c0 2.481-2.016 4.5-4.5 4.5s-4.5-2.019-4.5-4.5c0-2.487 2.016-4.5 4.5-4.5s4.5 2.013 4.5 4.5z"/></g></svg>
                <h3 class="uppercase">STORY</h3>
							  <p class="small">136 Collins Ave., Miami Beach</p>
              </div>
            </li>
            <li class="col-4-12 equalElement">
							<div class="fix-4-12 ae-4">
                <svg width="72" height="72" viewBox="0 0 73 72" xmlns="http://www.w3.org/2000/svg" class="icon-47"><g stroke-width="3" stroke-linejoin="round" fill="none"><path d="M70.538 36c0 19.053-15.447 34.5-34.5 34.5-19.056 0-34.5-15.447-34.5-34.5 0-19.056 15.444-34.5 34.5-34.5 19.053 0 34.5 15.444 34.5 34.5z"/><path d="M58.538 39c0 12.429-10.074 22.5-22.5 22.5s-22.5-10.071-22.5-22.5h45z"/><path d="M16.538 30c0-3.312 2.688-6 6-6s6 2.688 6 6"/><path d="M55.538 30c0-3.312-2.688-6-6-6s-6 2.688-6 6"/></g></svg>
                <h3 class="uppercase">BASEMENT</h3>
                <p class="small">2901 Collins Ave., Miami Beach</p>
              </div>
            </li>
            <li class="col-4-12 equalElement">
							<div class="fix-4-12 ae-5">
                <svg width="72" height="72" viewBox="0 0 72 72" xmlns="http://www.w3.org/2000/svg" class="icon-47"><g stroke-width="3" stroke-linejoin="round" fill="none"><path d="M70.5 36c0 19.053-15.444 34.5-34.5 34.5-19.056 0-34.5-15.447-34.5-34.5 0-19.056 15.444-34.5 34.5-34.5 19.056 0 34.5 15.444 34.5 34.5z"/><path d="M36 54s16.5-12 16.5-20.886c0-10.257-13.5-13.5-16.5-1.023-3-12.477-16.5-9.234-16.5 1.023 0 8.886 16.5 20.886 16.5 20.886z"/></g></svg>
                <h3 class="uppercase">TRADE</h3>
                <p class="small">1439 Washington Ave., Miami Beach</p>
              </div>
            </li>
            <li class="col-4-12 equalElement">
							<div class="fix-4-12 ae-6">
                <svg width="72" height="72" viewBox="0 0 72 42" xmlns="http://www.w3.org/2000/svg" class="icon-47"><g stroke-width="3" stroke-linejoin="round" fill="none"><path d="M46.5 37.5c0 1.65-1.35 3-3 3h-39c-1.65 0-3-1.35-3-3v-33c0-1.647 1.35-3 3-3h39c1.65 0 3 1.353 3 3v33z"/><path d="M70.5 37.5l-18-9v-15l18-9v33z"/></g></svg>
                <h3 class="uppercase">LIV</h3>
                <p class="small">4441 Collins Ave., Miami Beach</p>
              </div>
            </li>
            <li class="col-4-12 equalElement">
							<div class="fix-4-12 ae-7">
                <svg width="72" height="72" viewBox="0 0 73 72" xmlns="http://www.w3.org/2000/svg" class="icon-47"><g fill="none" stroke-width="3" stroke-linejoin="round"><path d="M43.538 36c0 4.143-3.36 7.5-7.5 7.5-4.143 0-7.5-3.357-7.5-7.5s3.357-7.5 7.5-7.5c4.14 0 7.5 3.357 7.5 7.5z"/><path d="M46.538 25.5h7.5c2.475 0 4.5 2.025 4.5 4.5v15c0 2.475-2.025 4.5-4.5 4.5h-36c-2.475 0-4.5-2.025-4.5-4.5v-15c0-2.475 2.025-4.5 4.5-4.5h7.5M25.538 25.5l6-6h9l6 6" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/><path d="M52.538 28.5c-.828 0-1.5.672-1.5 1.5s.672 1.5 1.5 1.5 1.5-.672 1.5-1.5-.672-1.5-1.5-1.5"/><path d="M70.538 36c0 19.056-15.447 34.5-34.5 34.5-19.056 0-34.5-15.444-34.5-34.5 0-19.056 15.444-34.5 34.5-34.5 19.053 0 34.5 15.444 34.5 34.5z"/></g></svg>
                <h3 class="uppercase">MYNT</h3>
                <p class="small">1921 Collins Ave, Miami Beach, FL 33139</p>
              </div>
            </li>
            <li class="col-4-12 equalElement">
							<div class="fix-4-12 ae-8">
                <svg width="72" height="72" viewBox="0 0 71 71" xmlns="http://www.w3.org/2000/svg" class="icon-47"><g stroke-width="3" stroke-linecap="round" stroke-linejoin="round" fill="none"><path d="M48.782 69.444h-26.565c0-7.338 5.948-17.71 13.282-17.71 7.335 0 13.282 10.372 13.282 17.71zM44.355 36.976c0 4.888-3.967 8.855-8.855 8.855s-8.855-3.967-8.855-8.855c0-4.891 3.967-8.855 8.855-8.855s8.855 3.964 8.855 8.855zM19.848 51.152c-8.648-8.648-8.648-22.663 0-31.308 8.642-8.642 22.66-8.642 31.302 0 8.648 8.645 8.648 22.66 0 31.308M11.498 59.5c-13.256-13.253-13.256-34.744 0-48.006 13.256-13.253 34.747-13.253 48.006 0 13.256 13.262 13.256 34.753 0 48.006"/></g></svg>
                <h3 class="uppercase">FDR</h3>
                <p class="small">1685 Collins Ave., Miami Beach</p>
              </div>
            </li>
          </ul>
        </div>
        <small class="block ae-10 block-42">
          <span class="text-42" class="bold">Are you a Nightclub?<%= link_to 'Sign In', new_club_path, class: "block bold" %></span>
        </small>
      </div>
    </div>
  </div>
  <div class="background" style="background-image:url(<%= image_url('img-22.jpg') %>)"></div>
</section>

<!-- Slide #4 -->
<section class="slide fade kenBurns">
  <div class="content">
    <div class="container">
      <div class="wrap">

        <div class="fix-10-12 toCenter">
          <h1 class="small ae-1">Your favorite Brands follow you</h1>
          <div class="ae-2"><p>Think of us for your next party and make your night an <span id="extra">EasyNight</span>.</p></div>
        </div>
        <div class="fix-12-12">
          <ul class="grid grid-68 equal later">
            <li class="col-2-12">
              <div class="table wide equalElement ae-8">
                <div class="cell">
                  <!-- <img width="200" src="assets/img/heineken.png" alt="Heineken"/> -->
                  <%= image_tag 'heineken.png', width: 200, alt: 'Heineken' %>
                </div>
              </div>
            </li>
            <li class="col-2-12">
              <div class="table wide equalElement ae-5">
                <div class="cell">
                  <!-- <img width="116" src="assets/img/coca-cola.png" alt="Coca Cola"/> -->
                  <%= image_tag 'coca-cola.png', width: 116, alt: 'Coca-Cola' %>
                </div>
              </div>
            </li>
            <li class="col-2-12">
              <div class="table wide equalElement ae-2">
                <div class="cell">
                  <!-- <img width="600" src="assets/img/domperignon.png" alt="Dom Perignon"/> -->
                  <%= image_tag 'domperignon.png', width: 600, alt: 'Dom Perignon' %>
                </div>
              </div>
            </li>
            <li class="col-2-12">
              <div class="table wide equalElement ae-2">
                <div class="cell">
                  <!-- <img width="600" src="assets/img/greygoose.png" alt="Grey Goose"/> -->
                  <%= image_tag 'greygoose.png', width: 600, alt: 'Grey Goose' %>
                </div>
              </div>
            </li>
            <li class="col-2-12">
              <div class="table wide equalElement ae-5">
                <div class="cell">
                  <!-- <img width="263" src="assets/img/bacardi.png" alt="Bacardi"/> -->
                  <%= image_tag 'bacardi.png', width: 263, alt: 'Bacardi' %>
                </div>
              </div>
            </li>
            <li class="col-2-12">
              <div class="table wide equalElement ae-8">
                <div class="cell">
                  <!-- <img width="363" src="assets/img/johnnie.png" alt="Johnnie Walker"/> -->
                  <%= image_tag 'johnnie.png', width: 363, alt: 'Johnnie Walker' %>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="background" style="background-image:url(<%= image_url('Tunnel.jpg') %>)"></div>
</section>

<!-- Slide #5 -->
<section class="slide fade kenBurns">
  <div class="content">
    <div class="container">
      <div class="wrap">

        <div class="fix-10-12">
          <h1 class="small ae-1">Loved your experience? Let us know.</h1>
        </div>
        <div class="fix-12-12 box-57">
          <ul class="grid fixedSpaces">

            <li class="col-4-12 ae-3">
              <h3 class="small uppercase text-57">Address</h3>
              <p class="block bold"><a href="https://www.google.com/maps/place/400+NW+26th+St,+Miami,+FL+33127/@25.8011416,-80.2044331,17z/data=!3m1!4b1!4m5!3m4!1s0x88d9b6b3a5bf83e1:0xdceabc622068c2c5!8m2!3d25.8011416!4d-80.2022444">400 NW 26th St, Miami, FL 33127</a></p>

            <li class="col-4-12 ae-4">
              <h3 class="small uppercase text-57">GENERAL INQUIRES</h3>
              <p class="opaque playfair"><a href="mailto:#">gmail@gmail.com</a></p>

            <li class="col-4-12 ae-5">
              <h3 class="small uppercase text-57">PARTNERSHIP</h3>
              <p class="opaque playfair"><a href="mailto:#">partners@gmail.com</a></p>


            <li class="col-4-12 ae-6">
            <li class="col-4-12 ae-7">
            <li class="col-4-12 ae-8">

              <h3 class="small uppercase">Don&rsquo;t be a stranger!</h3>
              <ul class="social-circles">
                <li><a class="button roundButton facebook" href="#"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#facebook"></use></svg></a></li>
                <li><a class="button roundButton twitter" href="#"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#twitter"></use></svg></a></li>
                <li><a class="button roundButton tumblr" href="#"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#tumblr"></use></svg></a></li>
                <li><a class="button roundButton googlePlus" href="#"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#googlePlus"></use></svg></a></li>
              </ul>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>
  <div class="background" style="background-image:url(<%= image_url('img-4.jpg') %>)"></div>
</section>

<!-- Preloader -->
<div class="loadingIcon">
  <svg class="loading-icon" id="loading-circle" viewBox="0 0 18 18">
    <circle class="circle" opacity=".1" stroke="#fff" stroke-width="2" stroke-miterlimit="10" cx="9" cy="9" r="8" fill="none"></circle>
    <circle class="dash" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" stroke-dasharray="1,100" cx="9" cy="9" r="8" fill="none"></circle>
  </svg>
</div>
