<%= form_for(table) do |f| %>
  <% if table.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(table.errors.count, "error") %> prohibited this table from being saved:</h2>

      <ul>
      <% table.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :table_name %>
    <%= f.text_field :table_name %>
  </div>

  <div class="field">
    <%= f.label :minimum %>
    <%= f.text_field :minimum %>
  </div>

  <div class="field">
    <%= f.label :club_id %>
    <%= f.text_field :table_name %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
