<p id="notice"><%= notice %></p>

<p>
  <strong>Table ID:</strong>
  <%= @table.id %>
</p>

<p>
  <strong>Table name:</strong>
  <%= @table.table_name %>
</p>

<p>
  <strong>Minimum:</strong>
  <%= @table.minimum %>
</p>

<%= link_to 'Back', current_club %>
