
<!-- Panel top  -->



<nav class="panel top forceMobileView">
  <div class="sections desktop">
    <div class="left"><a class="yolo"><svg style="width:10px;height:31px"><%= image_tag 'logo.png', width: 130, alt: 'Logo' %></svg></a></div>
    <div class="right">
      <ul class="menu">
        <li><a href="#" class="toSlide-1">Nightclubs</a></li>
        <li><a href="<%= sessions_destroy_path %>" class="yolo">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
<!-- Slide #73 -->
<section class="slide fade kenBurns">
  <div class="content">
    <div class="container">
      <div class="wrap">

        <div class="fix-12-12">
          <ul class="grid">
            <li class="col-6-12 left box-73">
              <h1 class="small ae-2">Choose your Bottles</h1>
                <div class="ae-3"><p>Simply click on the desired bottles until you meet the required minimum for your table section.</p>      <% @total = 0 %>
                  <% @table.reservation.bottles.each.sum do |bottle| %>
                    <% total = bottle.price %>
                    <% @total += total %>
                  <% end %><br>
                  <div class="ae-3"><p><%= "Your balance is $#{@total}" %> <%= "You must reach the minimum below to continue" if @total < @table.minimum.to_i %><br>
                  <%= "Table minimum $#{@table.minimum}" %></p></div><br>

                  <h1 class="small ae-2">Your table will include:</h1>
                  <div class="ae-3"><p>
                    <% @table.reservation.bottles.each do |bottle| %>
                    <%= "#{bottle.name} $#{bottle.price}" %>
                    <%= link_to 'Remove', "/reservation_bottles/#{bottle.id}", method: :delete %><br>
                  <% end %><br></p></div>
            </li>


          <ul class="grid fixedSpaces equal center grid-73">
            <% @table.club.bottles.each do |bottle| %>
              <li class="col-4-12 ae-5">
                <%= link_to "/reservation_bottles/#{bottle.id}", method: :post, class: "cell-73 equalElement" do %>
                  <h3 class="uppercase"><%= bottle.name %> </h3>
                  <p class="small">$<%= bottle.price %></p>
                <%end%>
              </li>
            <% end %>
          </ul>

          <li><a class="yolo"><%= link_to 'Cancel Reservation', reservation_path(@reservation), method: :delete %></a></li><br>
          <li><a class="yolo"><%= link_to 'Checkout', "/users/#{current_user[:id]}/payments/checkout" if @total >= @table.minimum.to_i %></a></li>
        </div>

      </div>
    </div>
  </div>



<div class="background" style="background-image:url(<%= image_url('img-clubs.jpeg') %>)"></div>
</section>

<!-- Preloader -->
<div class="loadingIcon">
  <svg class="loading-icon" id="loading-circle" viewBox="0 0 18 18">
    <circle class="circle" opacity=".1" stroke="#fff" stroke-width="2" stroke-miterlimit="10" cx="9" cy="9" r="8" fill="none"></circle>
    <circle class="dash" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" stroke-dasharray="1,100" cx="9" cy="9" r="8" fill="none"></circle>
  </svg>
</div>
