<!-- Panel top  -->

  <% @table.reservation.bottles.each do |bottle| %>
    <%= "#{bottle.name} $#{bottle.price}" %>
    <%= link_to 'Remove Bottle from Reservation', "/reservation_bottles/#{bottle.id}", method: :delete %><br>
  <% end %><br>

<nav class="panel top forceMobileView">
  <div class="sections desktop">
    <div class="left"><a href="<%= new_user_path %>" class="yolo"><svg style="width:10px;height:31px"><%= image_tag 'logo.png', width: 130, alt: 'Logo' %></svg></a></div>
    <div class="right">
      <ul class="menu">
        <li><a href="#" class="toSlide-1">Nightclubs</a></li>
        <li><a href="<%= sessions_destroy_path %>" class="yolo">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
<!-- Slide #73 -->
<section class="slide fade kenBurns">
  <div class="content">
    <div class="container">
      <div class="wrap">

        <div class="fix-12-12">
          <ul class="grid">
            <li class="col-6-12 left box-73">
              <h1 class="small ae-2">Choose your Bottles</h1>
              <div class="ae-3"><p>Simply click on the desired bottles until you meet the required minimum for your table section.</p></div>
              <div class="ae-4"><p>When you're ready, don't forget to checkout and you'll be good to go!</p></div>
            </li>
            <li class="col-6-12 left ae-1 fromAbove" data-action="zoom">
              <%= image_tag @club.image_url, alt: "Club Menu Image", class: "shiftImage shiftImageVertical image-73" %>
            </li>
          </ul>

          <ul class="grid fixedSpaces equal center grid-73">
            <% if @club.tables[0] %>
              <li class="col-4-12 ae-5">
                <%= link_to table_reservations_path(@club.tables[0]), method: :post, class: "cell-73 equalElement" do %>
                  <h3 class="uppercase">Section 1</h3>
                  <p class="small">$<%= @club.tables[0].minimum %></p>
                <%end%>
              </li>
            <% end %>
            <% if @club.tables[1] %>
            <li class="col-4-12 ae-6">
              <%= link_to table_reservations_path(@club.tables[1]), method: :post, class: "cell-73 equalElement" do %>
                <h3 class="uppercase">Section 2</h3>
                <p class="small">$<%= @club.tables[1].minimum %></p>
              <%end%>
            </li>
            <% end %>
            <% if @club.tables[2] %>
            <li class="col-4-12 ae-6">
              <%= link_to table_reservations_path(@club.tables[2]), method: :post, class: "cell-73 equalElement" do %>
                <h3 class="uppercase">Section 3</h3>
                <p class="small">$<%= @club.tables[2].minimum %></p>
              <%end%>
            </li>
            <% end %>
            <% if @club.tables[3] %>
            <li class="col-4-12 ae-6">
              <%= link_to table_reservations_path(@club.tables[3]), method: :post, class: "cell-73 equalElement" do %>
                <h3 class="uppercase">Section 4</h3>
                <p class="small">$<%= @club.tables[3].minimum %></p>
              <%end%>
            </li>
            <% end %>
            <% if @club.tables[4] %>
            <li class="col-4-12 ae-6">
              <%= link_to table_reservations_path(@club.tables[4]), method: :post, class: "cell-73 equalElement" do %>
                <h3 class="uppercase">Section 5</h3>
                <p class="small">$<%= @club.tables[4].minimum %></p>
              <%end%>
            </li>
            <% end %>
            <% if @club.tables[5] %>
            <li class="col-4-12 ae-6">
              <%= link_to table_reservations_path(@club.tables[5]), method: :post, class: "cell-73 equalElement" do %>
                <h3 class="uppercase">Section 6</h3>
                <p class="small">$<%= @club.tables[5].minimum %></p>
              <%end%>
            </li>
            <% end %>
          </ul>
        </div>

      </div>
    </div>
  </div>
  <div class="background" style="background-image:url(<%= image_url('bottles.jpg') %>)"></div>
</section>

<!-- Preloader -->
<div class="loadingIcon">
  <svg class="loading-icon" id="loading-circle" viewBox="0 0 18 18">
    <circle class="circle" opacity=".1" stroke="#fff" stroke-width="2" stroke-miterlimit="10" cx="9" cy="9" r="8" fill="none"></circle>
    <circle class="dash" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" stroke-dasharray="1,100" cx="9" cy="9" r="8" fill="none"></circle>
  </svg>

<!-- </div>
<% @table.reservation.bottles.each do |bottle| %>
  <%= "#{bottle.name} $#{bottle.price}" %>
  <%= link_to 'Remove Bottle from Reservation', "/reservation_bottles/#{bottle.id}", method: :delete %><br>
<% end %><br>

<% @total = 0 %>
<% @table.reservation.bottles.each.sum do |bottle| %>
  <% total = bottle.price %>
  <% @total += total %>
<% end %><br>
<%= "Your balance is $#{@total}" %> <%= "You must reach the minimum below to continue" if @total < @table.minimum.to_i %><br>
<%= "Table minimum $#{@table.minimum}" %>

<h1>Add Bottles</h1>

<ul>
  <% @table.club.bottles.each do |bottle| %>
    <li><%= bottle.name %> $<%= bottle.price %>
      <%= link_to 'Add Bottle to Reservation', "/reservation_bottles/#{bottle.id}", method: :post %>
  <% end %>
</ul>

<%= link_to 'Cancel Reservation', reservation_path(@reservation), method: :delete %><br>
<%= link_to 'Checkout', "/users/#{current_user[:id]}/payments/checkout" if @total >= @table.minimum.to_i %> -->
